// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  margin:0;
  width: 100%;
}

#map { position:absolute; top:0 ; bottom:0; width:70%; }

.left {
  float: left;
  width: 30%;
  text-align: center;
}
.right {
  overflow: hidden;
  width: 70%;
}

hr {
  width:90%;
  height:1px;
  background: #fff
}

.left_section{
  margin: 20px;
}

/*
========================
      SEARCH
========================
*/

.ui-widget {
  margin: 30px;
}

.ui-autocomplete {
  max-height: 200px; overflow-y: auto; overflow-x: hidden;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}
